services:
  voicevox:
    image: voicevox/voicevox_engine:nvidia-latest
    ports:
      - "50021:50021"
    restart: always

  db:
    image: postgres:18
    volumes:
      - pg_data:/var/lib/postgresql/data
    env_file:
      - docker/db/.env
    ports:
      - "5432:5432"
    restart: always

  backend:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    ports:
      - "8000:8000"
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./:/workdir
    tty: true
    depends_on:
      - db

volumes:
  pg_data: